.App {
  height: 100%;
  display: grid;
  grid-template-rows: 40% 20% 40%;
  font-family: "Orbitron", sans-serif;
}

#searchDiv {
  grid-row: 1;
  text-align: center;
  display: grid;
  grid-template-rows: 20% 10% 70%;
}

#title {
  margin-top: 0%;
  grid-row: 1;
}

.searchArea {
  grid-row: 2;
}

.pokemonDetails {
  grid-row: 3;
}

#listDiv {
  grid-row: 3;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.typeListItem {
  display: block;
  border: 2px solid black;
  width: 17%;
  height: 35%;
}

#listItemImg {
  height: 70%;
  width: 50%;
}
ul {
  list-style: none;
}

#typeList {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#ulDiv {
  height: 100%;
  width: 100%;
}
#collection {
  width: 10%;
  height: 200%;
  background-color: red;
  color: black;
  font-family: "Orbitron", sans-serif;
}
